.main-trackCreditsModal-header {
    display: none;
}

.main-trackCreditsModal-container {
    animation-name: slideIn;
    animation-duration: 0.4s;
}

.GenericModal {
    background: transparent !important;
}

.main-trackCreditsModal-mainSection {
    padding: 32px;
    border-radius: 8px;
    background-color: var(--spice-text) !important;
    color: var(--spice-sidebar) !important;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-trackCreditsModal-originalCredits {
    padding: 0;
}

.main-trackCreditsModal-closeBtn {
    display: none;
}

.parent-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button-div {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.cancel-button {
    background-color: transparent;
    font-weight: 700;
    border: 0;
    color: var(--spice--sidebar);
    display: inline-flex;
    border-radius: 500px;
    font-size: inherit;
    min-block-size: 48px;
    align-items: center;
    padding-inline: 32px;
}

.cancel-button:hover {
    transform: scale(1.04);
}

.ok-button {
    background-color: var(--spice-button-active);
    font-weight: 700;
    border: 0;
    color: var(--spice-sidebar);
    display: inline-flex;
    border-radius: 500px;
    font-size: inherit;
    min-block-size: 48px;
    align-items: center;
    padding-inline: 32px;
}

.ok-button:hover {
    transform: scale(1.04);
}
